.list-card {
    float: left;
    margin: 1px;
    width: 250px;
    height: 200px;

    color: green;
    text-align: left;

    border: 1px solid red;
    border-radius: 8px;

    cursor: pointer;
    padding: 10px 20px;
}

.centerwrapper {
    margin: auto;
    width: 1000px;
}

.list-card-top {
    width: 250px;
    height: 100px;
    margin: -10px 0px 5px 0px;
    background-color: green;
}

.list-card-info {
    background-color: yellow;
}

a.list-card-img img {
    max-width: 100%;
    max-height: 100%;
    width: 100%;
    height: auto;
}

.list-card-heading {
    position: relative;
}

.list-card-price {
    position: absolute;
    line-height: 32px;
    height: 32px;

    display: inline-block;
    font-size: 18px;
    font-weight: 600;
    margin-bottom: 0;
}

ul.list-card-details {
    position: absolute;
    padding: 10px 0;

    font-size: 16px;
    font-weight: 300;
    line-height: 16px;

    list-style: none;
    max-width: 100%;
}

ul.list-card-details li {
    display: inline-block;
    padding: 0 3px;
}
