.square {
    float: left;
    margin: 1px;
    width: 200px;
    height: 200px;

    color: green;
    text-align: left;

    border: 1px solid gray;
    border-radius: 8px;

    cursor: pointer;
    padding: 10px 20px;
}

.centerwrapper {
    margin: auto;
    width: 1000px;
}
